#!ipxe

:global_vars
# set site name
set site_name pxe.to

# set boot domain
set boot_domain i.pxe.to

# set location of memdisk
set memdisk http://${boot_domain}/memdisk

# signature check enabled?
set sigs_enabled true

# image signatures check enabled?
set img_sigs_enabled true

# set location of signatures for sources
set sigs http://${boot_domain}/sigs/

# set location of latest iPXE
set ipxe_disk pxe.to-undionly.kpxe

##################
# official mirrors
##################
:mirrors
### Centos

set centos_mirror http://vault.centos.org/2.1/os/i386/
set centos_base_dir centos


### Coreos

set coreos_mirror https://stable.release.core-os.net/amd64-usr/current
set coreos_base_dir coreos


### Debian

set debian_mirror http://archive.debian.org/debian/dists/lenny
set debian_base_dir debian


### Devuan

set devuan_mirror http://pkgmaster.devuan.org/devuan/dists/jessie
set devuan_base_dir devuan


### Fedora

set fedora_mirror http://archives.fedoraproject.org/pub/archive/fedora/linux/core/2/i386/os
set fedora_base_dir fedora


### Kali

set kali_mirror http://http.kali.org/kali/dists/kali-rolling
set kali_base_dir kali


### Opensuse

set opensuse_mirror http://ftp5.gwdg.de/pub/opensuse/discontinued/distribution/13.2/repo/oss
set opensuse_base_dir opensuse


### Oraclelinux

set oraclelinux_mirror http://a737b1065522.pouliot.net/oraclelinux/mnt/Enterprise-R4-U4-i386-dvd.iso
set oraclelinux_base_dir oraclelinux


### Rancheros

set rancheros_mirror https://github.com/rancher/os/releases/download/v1.1.0
set rancheros_base_dir rancheros


### Scientificlinux

set scientificlinux_mirror http://ftp.scientificlinux.org/linux/scientific/5.0/i386/os
set scientificlinux_base_dir scientificlinux


### Ubuntu

set ubuntu_mirror http://archive.ubuntu.com/ubuntu/dists/precise
set ubuntu_base_dir ubuntu


#################################################
# determine architectures and enable menu options
#################################################
:architectures
set menu_linux 1
set menu_bsd 1
set menu_freedos 1
set menu_hypervisor 1
set menu_live 1
set menu_security 1
set menu_windows 1
set menu_utils 1
iseq ${buildarch} i386 && goto x86_64 ||
iseq ${buildarch} x86_64 && goto x86_64 ||
iseq ${buildarch} arm64 && goto arm64 ||
goto architectures_end
:x86_64
goto architectures_end
:arm64
set menu_freedos 0
set menu_hypervisor 0
set menu_live 0
set menu_security 0
set menu_windows 0
set menu_utils 0
goto architectures_end
:architectures_end
goto clouds

###################################
# set iPXE cloud provider specifics
###################################
:clouds
iseq ${ipxe_cloud_config} gce && goto gce ||
iseq ${ipxe_cloud_config} packet && goto packet ||
goto clouds_end

:gce
set console console=ttyS0,115200n8
goto clouds_end

:packet
iseq ${buildarch} i386 && goto packet_x86_64 ||
iseq ${buildarch} x86_64 && goto packet_x86_64 ||
iseq ${buildarch} arm64 && goto packet_arm64 ||
goto clouds_end

:packet_x86_64
set console console=ttyS1,115200n8
set ipxe_disk pxe.to-packet.kpxe
set menu_freedos 0
set menu_windows 0
set menu_utils 0
goto clouds_end

:packet_arm64
set console console=ttyAMA0,115200
set ipxe_disk pxe.to-packet-arm64.efi
set menu_bsd 0
set menu_freedos 0
set menu_hypervisor 0
set menu_live 0
set menu_security 0
set menu_windows 0
set menu_utils 0
goto clouds_end

:clouds_end
goto end

:end
exit
